<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Emerson-JRM/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Your First Program (1:15) - Question 1
print("Hello\nWorld!")

Hello
World!

In [6]:
#Your First Program (1:15) - Question 2
# print("Hello\nWorld!")

In [4]:
# Types (2:57)
# What is the type of the following: int(1.0)? int - Question 1

In [3]:
# Enter the code to convert the number 1 to a Boolean : bool(1) -  Question 2

In [14]:
# Lab - Write Your First Python Code!
import sys
print(sys.version)


# Practice on writing comments

print('\nHello, Python!') # This line prints a string

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

Hello, Python!

In [15]:
# String Operations (3:53) - Question 1
# How would you obtain the even elements?
Numbers = "0123456"
Numbers[::2]

'0246'

In [16]:
# String Operations (3:53) - Question 2
# What is the result of the following line of code:
"0123456".find('1')

1

In [17]:
# Review Questions
# What is the result of the following operation in Python: Question - 1
3 + 2 * 2

7

In [18]:
# Review Questions
# In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])? Question - 2
name = 'Lizz'
print(name[0:2])

Li

In [20]:
# Review Questions
#In Python, if you executed var = '01234567', what would be the result of print(var[::2])? Question - 3
var = '01234567'
print(var[::2])

0246

In [21]:
# Review Questions
#In Python, what is the result of the following operation '1'+'2'? Question - 4
'1'+'2'

'12'

In [22]:
# Review Questions
# Given myvar = 'hello', how would you convert myvar into uppercase? Question - 5
myvar = 'hello'
print(myvar.upper())

HELLO

In [29]:
# Lists and Tuples (8:46)
# How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)
A[3]
A[-1]

3

In [31]:
# Lists and Tuples (8:46)
# Consider the list: B=["a","b","c"]
B=["a","b","c"]
B[1:]

['b', 'c']

In [32]:
#Sets (External resource)
#What is the result of the following lines of code:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [34]:
#Sets (External resource)
#What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}
S&U

{'A', 'C'}

In [35]:
# Dictionaries (External resource)
# Consider the following dictionary: - Question 1

D = {'a':0,'b':1,'c':2}

#What is the result of the following: D.values()?
D.values()

dict_values([0, 1, 2])

In [36]:
# Dictionaries (External resource)
# Consider the following dictionary: - Question 2
D = {'a':0,'b':1,'c':2}
#What is the output of the following D['b']?
D['b']

1

In [38]:
# Review Questions
#What is the syntax used to obtain the first element of the tuple: - Question 1

A = ('a','b','c')
A[0]

'a'

In [52]:
# Review Questions
# After applying the following method, L.append(['a','b']), the following list will only be one element longer: - Question 2

L.append(['a','b'])

In [53]:
# Review Questions
# Consider the following Python dictionary:- Question 4

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

# What is the result of the following operation: Dict["D"]? 
Dict["D"]

(4, 4, 4)

In [58]:
# Conditions and Branching (External resource)
# Select the values of i that produces a True for the following: Question 1
i=100000000
i!=0

True

In [61]:
# Conditions and Branching (External resource)
# What is the output of the following: Question 2

x='a'

if(x!='a'):print("This is not a.")

else: print("This is a.")

This is a.

In [65]:
# Loops (External resource)
# What is the output of the following lines of code: - Question 1
A=[3,4,5]

for a in A: print(a)

3
4
5

In [ ]:
# Loops (External resource)
# What is the output of the following lines of code: - Question 2
x=3

y=1

while(y!=x): y=y+1 , print(y)

In [79]:
# Functions (External resource)
# What is the value of c after the following block of code is run ?
a=1

def add(b): return a+b

c=add(10)
print(c)

11

In [ ]:
# Functions (External resource)
# What is the value of c after the following block of code is run with proper numerical input?
x=(1,2,3)
def f(*x): return sum(x)
Print(c)

In [92]:
# Object and Classes (External resource)
#Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

In [94]:
# Review Questions
#What is the output of the following lines of code:
x=1

if(x!=1): print('Hello')

else: print('Hi')

print('Mike')

Hi
Mike

In [96]:
#What is the output of the following few lines of code?

A = ['1','2','3']

for a in A: print(2*a)

11
22
33

In [ ]:
# Consider the function Delta, when will the function return a value of 1

def Delta(x): 
  if x==0: y=1;

else: y=0;

return(y)