<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Emerson-JRM/blob/main/Actividad_de_semana_4_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.- Ejemplo de como abrir un archivo cargado en COLAB

In [125]:
# Read the Example1.txt
example1 = "/content/Hola_Amigo.txt"

file1 = open(example1, "r")

print("Hola_Amigo.txt")

Hola_Amigo.txt

2.-Podemos ver atributos como el nombre del file

In [126]:
file1.name

'/content/Hola_Amigo.txt'

3.-Podemos ver atributos como el tipo

In [127]:
file1.mode

'r'

4.-Ver el contenido del archivo

In [128]:
file1.read()

'Esta carta es solo para saludar!!!'

5.- El archivo tambie se puede cerrar

In [129]:
file1.close()

6.- Otra nanera de poder abrir un archivo

In [130]:
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Esta carta es solo para saludar!!!

7.-Tambien puedes extraer fracciones del documento

In [131]:
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

Esta
 car
ta es s
olo para saluda

8.-

In [132]:
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  Esta carta es solo para saludar!!!

9.- Escribir una linea a un archivo

In [133]:

exmp2 = 'Hola_Amigo_2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("Este es un saludo para un amigo")

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

Este es un saludo para un amigo

10.- Escribir diferentes lineas en un archivo

In [134]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

Question 1

Consider the dataframe df. How would you find the element in the second row and first column?

df.ix[0,1] or df.iloc[0,1]

df.ix[1,0] or df.iloc[1,0]

df[1,1]

In [135]:
import pandas as pd
df= pd.read_csv("/content/sample_data/california_housing_test.csv")
df.index[1]

1

Question 2

Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

In [136]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

QUESTION 1

1 point possible (ungraded)

Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})


What type does the following return: df['a']==1 ?

In [137]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

Question 2
What task does the following method perform: df.to_csv("file.csv")?

save to CSV

Question 1

1 point possible (graded)

What do the following lines of code do?


with open("Example1.txt","r") as file1:


FileContent=file1.readlines()


print(FileContent)

In [138]:
with open("/content/Hola_Amigo_2.txt","r") as file3:


FileContent= file3.readline(2)


print(FileContent)

IndentationError: ignored

Question 2

1/1 point (graded)

What do the following lines of code do?

In [141]:
with open("/content/Hola_Amigo.txt","w") as writefile:

# writefile.write("This is line A \n")

# writefile.write("This is line B \n")

SyntaxError: ignored